{
  "targets": {
    "browsers": ["> 0.1% in JP"]
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/assets/javascripts"],
        "alias": {
          "@": "./src/assets/javascripts"
        }
      }
    ]
  ]
}
