doctype html
html
  head
    meta(charset="ja")
    title #{site.title}
  body
    p #{path.js}
    h1 Hello world?
    p env? #{process.env.NODE_ENV}
    if process.env.NODE_ENV === 'development'
      h1 I am in development mode
    else
      h1 I am not in development mode

